html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers  */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

::selection {
  color: #F92672; }

::-moz-selection {
  color: #F92672; }

body {
  line-height: 1; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* RESET
=============================================================================*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0; }

/* BODY 
Helvetica, arial, freesans, clean, sans-serif;
=============================================================================*/
.my_page--post {
  font-family: "web-font", "Microsoft YaHei", "PingFang SC", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  background-color: #fff9fd;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-all; }

.my_page--post > *:first-child {
  margin-top: 0 !important; }

.my_page--post > *:last-child {
  margin-bottom: 0 !important; }

/* BLOCKS
=============================================================================*/
p, blockquote, ul, ol, dl, table {
  margin: 15px 0; }

p {
  text-indent: 2rem;
  line-height: 1.7; }

/* HEADERS
=============================================================================*/
h1, h2, h3, h4, h5, h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased; }

.my_page--post h1 {
  font-size: 2rem;
  border-top: 3px solid #ddd;
  color: #3399FF;
  text-shadow: 1px 1px #efefef, 2px 2px #4da6ff;
  padding-bottom: 0.5rem;
  padding-top: 1rem; }
.my_page--post h2 {
  font-size: 1.8rem;
  color: #444; }
.my_page--post h3 {
  font-size: 1.6rem;
  color: #444; }
.my_page--post h4 {
  font-size: 1.4rem;
  color: #444; }
.my_page--post h5 {
  font-size: 1.2rem;
  color: #444; }
.my_page--post h6 {
  color: #777;
  font-size: 1rem; }

body > h2:first-child, body > h1:first-child, body > h1:first-child + h2, body > h3:first-child, body > h4:first-child, body > h5:first-child, body > h6:first-child {
  margin-top: 0;
  padding-top: 0; }

a:first-child h1, a:first-child h2, a:first-child h3, a:first-child h4, a:first-child h5, a:first-child h6 {
  margin-top: 0;
  padding-top: 0; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
  margin-top: 10px; }

/* LINKS
=============================================================================*/
a {
  color: #4183C4;
  text-decoration: none; }

a:hover {
  color: #5490ca;
  text-decoration: underline; }

/* LISTS
=============================================================================*/
ul, ol {
  padding-left: 30px; }

ul li > :first-child,
ol li > :first-child,
ul li ul:first-of-type,
ol li ol:first-of-type,
ul li ol:first-of-type,
ol li ul:first-of-type {
  margin-top: 0px; }

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0; }

dl {
  padding: 0; }

dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px; }

dl dt:first-child {
  padding: 0; }

dl dt > :first-child {
  margin-top: 0px; }

dl dt > :last-child {
  margin-bottom: 0px; }

dl dd {
  margin: 0 0 15px;
  padding: 0 15px; }

dl dd > :first-child {
  margin-top: 0px; }

dl dd > :last-child {
  margin-bottom: 0px; }

/* CODE
=============================================================================*/
code.highlighter-rouge, tt {
  margin: 0 0px;
  padding: 3px 3px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #ebebeb;
  border-radius: 3px;
  color: #3399FF; }

code, tt {
  background-color: transparent;
  border: none; }

kbd {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #DDDDDD;
  background-image: linear-gradient(#F1F1F1, #DDDDDD);
  background-repeat: repeat-x;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 10px;
  padding: 1px 4px; }

/* QUOTES
=============================================================================*/
blockquote {
  border-left: 6px solid #3399FF;
  padding: 0 15px;
  color: #777;
  background-color: #eee; }

blockquote > :first-child {
  margin-top: 0px; }

blockquote > :last-child {
  margin-bottom: 0px; }

/* HORIZONTAL RULES
=============================================================================*/
hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0; }

/* TABLES
=============================================================================*/
table th {
  font-weight: bold; }

table th, table td {
  border: 1px solid #ccc;
  padding: 6px 13px; }

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff; }

table tr:nth-child(2n) {
  background-color: #f8f8f8; }

/* IMAGES
=============================================================================*/
img {
  max-width: 100%; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'webfont';
  src: url("/css/fonts/siti/webfont.eot");
  /* IE9*/
  src: url("/css/fonts/siti/webfont.eot?#iefix") format("embedded-opentype"), url("/css/fonts/siti/webfont.woff") format("woff"), url("/css/fonts/siti/webfont.ttf") format("truetype"), url("/css/fonts/siti/webfont.svg#webfont") format("svg");
  /* iOS 4.1- */ }
@font-face {
  font-family: TITLE;
  src: local("STXinwei"), local("STKaiti"), local("KaiTi"), local("PingFang SC"), local("Microsoft Yahei"); }
@font-face {
  font-family: BLOGTITLE;
  src: local("STZhongsong"), local("STKaiti"), local("KaiTi"), local("PingFang SC"), local("Microsoft Yahei"); }
@font-face {
  font-family: CONTENT;
  src: local("Microsoft Yahei"), local("PingFang SC"), local(sans-serif); }
@font-face {
  font-family: quote;
  src: local("SimSun");
  unicode-range: U+201c, U+201d; }
.web-font {
  font-family: "webfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.1px;
  -moz-osx-font-smoothing: grayscale; }

body {
  background-color: #E0F7FB;
  font-family: CONTENT;
  -webkit-tap-highlight-color: transparent; }

@font-face {
  font-family: 'icomoon';
  src: url("/css/fonts/icomoon/fonts/icomoon.eot?bjmgjl");
  src: url("/css/fonts/icomoon/fonts/icomoon.eot?bjmgjl#iefix") format("embedded-opentype"), url("/css/fonts/icomoon/fonts/icomoon.ttf?bjmgjl") format("truetype"), url("/css/fonts/icomoon/fonts/icomoon.woff?bjmgjl") format("woff"), url("/css/fonts/icomoon/fonts/icomoon.svg?bjmgjl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 1.3rem;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-home:before {
  content: "\e900"; }

.icon-user:before {
  content: "\e971"; }

.icon-sina-weibo:before {
  content: "\ea9a"; }

.icon-rss:before {
  content: "\ea9b"; }

.icon-github:before {
  content: "\eab0"; }

.center {
  text-align: center; }

.main {
  margin: 15px auto;
  padding: 1.2rem 5rem;
  width: 76%;
  top: 35px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.25);
  position: relative;
  background-color: #fff9fd; }

.main::before {
  content: 'desktop';
  color: transparent;
  text-indent: 100%;
  overflow: hidden;
  padding-top: 1.74551%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100%;
  background-image: linear-gradient(1deg, #fff9fd, 50%, transparent 50%); }

.page-title {
  margin: 1rem 0;
  padding: 1.2rem;
  font-family: "minijianshaoer6cf69c5904196", TITLE,quote;
  border-bottom: 8px solid #3399FF;
  font-size: 2.2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #b7b7b7;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease; }

.my_page--default {
  font-family: CONTENT; }

.list-nostyled {
  list-style: none; }

.highlight {
  border-radius: 10px; }

.nav-list {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem; }
  .nav-list li {
    -moz-box-flex: 1;
    -webkit-box-flex: 1;
    -o-box-flex: 1;
    -ms-flex: 1;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

a.nav-icon {
  color: #5e5e5e;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  a.nav-icon:hover {
    text-decoration: none; }
  a.nav-icon:hover + a::after {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    border-bottom: 4px solid #7fbffa;
    -webkit-animation: nav_link_active 1s ease;
    -moz-animation: nav_link_active 1s ease;
    animation: nav_link_active 1s ease; }
  a.nav-icon:hover + a {
    color: #3399FF; }
  a.nav-icon:hover {
    color: #5490CA; }

a.nav-link {
  font-size: 1.2rem;
  position: relative;
  text-decoration: none;
  color: #504F4F;
  line-height: 1.2;
  padding: 0 5px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

a.nav-link:hover {
  color: #3399FF;
  outline: none;
  text-decoration: none; }

a:focus {
  outline: none; }

:focus {
  outline: 0; }

.page_container ul, .page_container li {
  padding: 0;
  margin: 0; }
.page_container .blog_title {
  font-family: BLOGTITLE,quote;
  position: relative;
  height: 100%;
  background: url("/img/icon/triangle.png") no-repeat;
  background: url("/img/icon/triangle.svg") no-repeat, none;
  background-position: -12px 0;
  line-height: 30px;
  text-indent: 40px;
  display: inline-block; }
.page_container li {
  margin-top: 1rem;
  margin-bottom: 2rem; }
.page_container span {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.8;
  text-indent: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.8rem; }
.page_container .post_time {
  padding: 1rem;
  color: #777;
  text-align: right;
  line-height: 1.5;
  border-bottom: 1px solid #ddd; }
.page_container a.page_link {
  color: #6594c1;
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .page_container a.page_link::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 30px;
    top: -10px;
    left: 0;
    background-color: transparent;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    transition: all 0.8s ease; }
  .page_container a.page_link:hover {
    color: #3399FF; }
  .page_container a.page_link:hover::before {
    background-color: #444;
    top: 0;
    -webkit-animation: page_triangle_active 1s ease;
    -moz-animation: page_triangle_active 1s ease;
    animation: page_triangle_active 1s ease; }

.link-active::after {
  content: '';
  display: inline-block;
  border-bottom: 4px solid transparent;
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  -webkit-transform: translateX(30%);
  -moz-transform: translateX(30%);
  -ms-transform: translateX(30%);
  -o-transform: translateX(30%);
  transform: translateX(30%);
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  transition: all 0.8s ease; }
.link-active:hover::after {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  border-bottom: 4px solid #7fbffa;
  -webkit-animation: nav_link_active 1s ease;
  -moz-animation: nav_link_active 1s ease;
  animation: nav_link_active 1s ease; }

.pagination {
  text-align: center;
  font-size: 1rem;
  font-style: italic; }

.previous, .next {
  position: relative;
  text-decoration: none; }
  .previous:hover, .next:hover {
    text-decoration: none; }

#footer {
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 6rem;
  text-align: center; }

.icon-footer {
  font-size: 1.1rem;
  border-radius: 50%;
  display: inline-block;
  color: #777777;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease; }
  .icon-footer:hover {
    text-decoration: none;
    color: #5490CA; }

@-webkit-keyframes nav_link_active {
  0% {
    -webkit-transform: translateX(30%);
    border-bottom: 4px solid transparent; }
  47.8% {
    -webkit-transform: translateX(-15%);
    border-bottom: 4px solid #7fbffa; }
  74.3% {
    -webkit-transform: translateX(10%);
    border-bottom: 4px solid #7fbffa; }
  90.2% {
    -webkit-transform: translateX(-5%);
    border-bottom: 4px solid #7fbffa; }
  97.6% {
    -webkit-transform: translateX(2%);
    border-bottom: 4px solid #7fbffa; }
  100% {
    -webkit-transform: translateX(0%);
    border-bottom: 4px solid #7fbffa; } }
@-moz-keyframes nav_link_active {
  0% {
    -moz-transform: translateX(30%);
    border-bottom: 4px solid transparent; }
  47.8% {
    -moz-transform: translateX(-15%);
    border-bottom: 4px solid #7fbffa; }
  74.3% {
    -moz-transform: translateX(10%);
    border-bottom: 4px solid #7fbffa; }
  90.2% {
    -moz-transform: translateX(-5%);
    border-bottom: 4px solid #7fbffa; }
  97.6% {
    -moz-transform: translateX(2%);
    border-bottom: 4px solid #7fbffa; }
  100% {
    -moz-transform: translateX(0%);
    border-bottom: 4px solid #7fbffa; } }
@keyframes nav_link_active {
  0% {
    -webkit-transform: translateX(30%);
    -moz-transform: translateX(30%);
    -ms-transform: translateX(30%);
    -o-transform: translateX(30%);
    transform: translateX(30%);
    border-bottom: 4px solid transparent; }
  47.8% {
    -webkit-transform: translateX(-15%);
    -moz-transform: translateX(-15%);
    -ms-transform: translateX(-15%);
    -o-transform: translateX(-15%);
    transform: translateX(-15%);
    border-bottom: 4px solid #7fbffa; }
  74.3% {
    -webkit-transform: translateX(10%);
    -moz-transform: translateX(10%);
    -ms-transform: translateX(10%);
    -o-transform: translateX(10%);
    transform: translateX(10%);
    border-bottom: 4px solid #7fbffa; }
  90.2% {
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
    transform: translateX(-5%);
    border-bottom: 4px solid #7fbffa; }
  97.6% {
    -webkit-transform: translateX(2%);
    -moz-transform: translateX(2%);
    -ms-transform: translateX(2%);
    -o-transform: translateX(2%);
    transform: translateX(2%);
    border-bottom: 4px solid #7fbffa; }
  100% {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
    border-bottom: 4px solid #7fbffa; } }
@-webkit-keyframes page_triangle_active {
  0% {
    top: -10px;
    background-color: transparent; }
  26% {
    top: 0px;
    background-color: #444; }
  47% {
    top: -8px;
    background-color: #444; }
  68% {
    top: 0px;
    background-color: #444; }
  78% {
    top: -4px;
    background-color: #444; }
  88% {
    top: 0px;
    background-color: #444; }
  93% {
    top: -2px;
    background-color: #444; }
  100% {
    top: 0px;
    background-color: #444; } }
@-moz-keyframes page_triangle_active {
  0% {
    top: -10px;
    background-color: transparent; }
  26% {
    top: 0px;
    background-color: #444; }
  47% {
    top: -8px;
    background-color: #444; }
  68% {
    top: 0px;
    background-color: #444; }
  78% {
    top: -4px;
    background-color: #444; }
  88% {
    top: 0px;
    background-color: #444; }
  93% {
    top: -2px;
    background-color: #444; }
  100% {
    top: 0px;
    background-color: #444; } }
@keyframes page_triangle_active {
  0% {
    top: -10px;
    background-color: transparent; }
  26% {
    top: 0px;
    background-color: #444; }
  47% {
    top: -8px;
    background-color: #444; }
  68% {
    top: 0px;
    background-color: #444; }
  78% {
    top: -4px;
    background-color: #444; }
  88% {
    top: 0px;
    background-color: #444; }
  93% {
    top: -2px;
    background-color: #444; }
  100% {
    top: 0px;
    background-color: #444; } }
@media only screen and (max-width: 1000px) {
  .page-title {
    font-size: 2.0rem; }

  .page_container a.page_link {
    font-size: 1.5rem; } }
@media only screen and (max-width: 860px) {
  .main {
    padding: 1rem 1.5rem; }

  .page-title {
    font-size: 1.8rem; }

  .nav-link {
    display: none; }

  .page_container a.page__link {
    font-size: 1.3rem; }

  .my_page--post {
    font-size: 1.1rem; }
    .my_page--post h1 {
      font-size: 1.8rem;
      border-top: 3px solid #ddd;
      color: #3399FF;
      text-shadow: 1px 1px #efefef, 2px 2px #4da6ff;
      padding-bottom: 0.5rem;
      padding-top: 1rem; }
    .my_page--post h2 {
      font-size: 1.6rem;
      color: #444; }
    .my_page--post h3 {
      font-size: 1.4rem;
      color: #444; }
    .my_page--post h4 {
      font-size: 1.2rem;
      color: #444; }
    .my_page--post h5 {
      font-size: 1rem; } }
@media only screen and (max-width: 600px) {
  .main {
    padding: 1rem 1.5rem; }

  .page-title {
    font-size: 1.5rem; }

  .page_container a.page_link {
    font-size: 1.3rem; }

  .my_page--post {
    font-size: 1rem;
    padding: 10px; }
    .my_page--post h1 {
      font-size: 1.6rem;
      border-top: 3px solid #ddd;
      color: #3399FF;
      text-shadow: 1px 1px #efefef, 2px 2px #4da6ff;
      padding-bottom: 0.5rem;
      padding-top: 1rem; }
    .my_page--post h2 {
      font-size: 1.4rem;
      color: #444; }
    .my_page--post h3 {
      font-size: 1.2rem;
      color: #444; }
    .my_page--post h4 {
      font-size: 1rem;
      color: #444; }
    .my_page--post h5 {
      font-size: 0.8rem;
      color: #444; } }

/*# sourceMappingURL=style.css.map */
