// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin ployfill-ie7 {
  .main{
    padding: 20px 50px;
  }
  .highlight{
    line-height: 22px;
    margin: 15px auto;
    padding: 15px;
    color:#58d4ea;
  }
  .page-title {
    margin: 10px 0;
    padding: 20px;
    font-size: 35px;
    font-weight: bold;
  }
  .nav-list {
    margin: 25px;
  }
}

@mixin ployfill-ie7-M {
  .main {
    padding: 10px 15px;
  }
  .page-title {
    font-size: 18px;
  }
}