// colors

$color-1: #E0F7FB; // Pickled Bluewood#E0F7FB
$color-2: #58d4ea; // blue
$color-3: #504F4F; //nav-link gray
$color-4: #ffffff; // White

// fonts 

$primary-font: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
$secondary-font: Lato,"Microsoft YaHei",sans-serif;