// colors

$color-1: #E0F7FB; // Pickled Bluewood#E0F7FB
$color-2: #58d4ea; // blue
$color-3: #504F4F; //nav-link gray
$color-4: #ffffff; // White
$color-5: #7fbffa; //a-link-border-bottom
$color-6: #3399FF; //page-title-border-bottom

// fonts 

$primary-font: Lato,"Microsoft Jhenghei","Hiragino Sans GB","Microsoft YaHei",sans-serif;
$secondary-font: Lato,"Microsoft YaHei",sans-serif;
$third-font: 'jdzhonyuanjian6bb305bf64196',Lato,"Microsoft YaHei",sans-serif;