<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/monokai_sublime.min.css">
	<link rel="stylesheet" href="/css/hack-font/hack.min.css">
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/16790/19673/581605e8f629d8107cfe8911.css' rel='stylesheet' type='text/css' />
	<link rel="shortcut icon" href="../favicon.ico" >
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="白色风车 {{ page.title }} 海源 个人博客 haiyuan">
	<meta name="description" content="白色风车 海源 haiyuan">
	<meta name="author" content="haiyuan,269699181@qq.com">
	<title>{{ page.title }} - 海源的博客</title>
</head>
