<body>
	<div class="main">
		<div class="page-title center">
			{{ page.title }}
		</div>
	<nav>
		<ul class="nav-list list-nostyled center">
			<li>
				<a class="nav-icon" href="{{ site.url }}">
					<i class="icon-home"></i>
				</a>
				<a href="{{ site.url }}" class="nav-link center link-active">Home
				</a>
			</li>
			<li>
				<a class="nav-icon" href="{{ site.url }}/about">
					<i class="icon-user"></i>
				</a>
				<a href="{{ site.url }}/about" class="nav-link center link-active">About
				</a>
			</li>
			<li class="rss">
				<a class="nav-icon" href="/feed.xml"><i class="icon-rss"></i></a>
				<a href="/feed.xml" class="nav-link center link-active" target="_blank">Rss
				</a>
			</li>
		</ul>
	</nav>