<body>
	<div class="main">
		<div class="page-title center">
			{{ page.title }}
		</div>
	<nav>
		<ul class="nav-list list-nostyled center">
			<li>
				<a href="{{ site.url }}"><img src="/img/icon/home.png" alt=""></a>
				<a href="{{ site.url }}" class="nav-link center">Home
				<div class="border_bottom"></div>
				</a>
			</li>
			<li>
				<a href="{{ site.baseurl }}/about.html"><img src="/img/icon/about.png" alt=""></a>
				<a href="{{ site.baseurl }}/about.html" class="nav-link center">About
				<div class="border_bottom"></div>
				</a>
			</li>
			<li class="git">
				<a href="https://github.com/xianhaiyuan" target="_blank"><img src="/img/icon/Git.png" alt=""></a>
				<a href="https://github.com/xianhaiyuan" class="nav-link center" target="_blank">GitHub
				<div class="border_bottom"></div>
				</a>
			</li>
		</ul>
	</nav>