<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="shortcut icon" href="/bitbug_favicon.ico" >
	<link href='//cdn.webfont.youziku.com/webfonts/nomal/16790/19466/581b3353f629d80df8fad786.css' rel='stylesheet' type='text/css' />
	<!-- <link rel="stylesheet" href="/css/app.min.css"> -->
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/monokai-sublime.css">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="白色风车 {{ page.title }} 海源 个人博客 haiyuan">
	<meta name="description" content="白色风车 海源 haiyuan">
	<meta name="author" content="海源,haiyuan,xianhaiyuan@gmail.com,269699181@qq.com">
	<title>{{ page.title }} - 海源的博客</title>
	<script>
// 	(function() {
//     if ( window.location.protocol.indexOf('s') < 0 ) {
//         window.location.protocol = 'https'
//     }
// })()
</script>
</head>
