<body>
	<div class="main">
		<div class="page-title center">
			{{ page.title }}
		</div>
	<nav>
		<ul class="nav-list list-nostyled center">
			<li>
				<a class="nav-icon icon-active" href="{{ site.url }}">
					<svg width="30" height="30">
	 					 <image xlink:href="/img/icon/home.svg" src="/img/icon/home.png" width="30" height="30" />
					</svg>
				</a>
				<a href="{{ site.url }}" class="nav-link center link-active">Home
				</a>
			</li>
			<li>
				<a class="nav-icon icon-active" href="{{ site.baseurl }}/about.html">
					<svg width="30" height="30">
	 					 <image xlink:href="/img/icon/about.svg" src="/img/icon/about.png" width="30" height="30" />
					</svg>
				</a>
				<a href="{{ site.baseurl }}/about.html" class="nav-link center link-active">About
				</a>
			</li>
			<li class="rss">
				<a class="nav-icon icon-active" href="/feed.xml" target="_blank">
					<svg width="30" height="30">
	 					 <image xlink:href="/img/icon/rss.svg" src="/img/icon/rss.png" width="30" height="30" />
					</svg>
				</a>
				<a href="/feed.xml" class="nav-link center link-active" target="_blank">Rss
				</a>
			</li>
		</ul>
	</nav>