<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="renderer" content="webkit">
	<meta http-equiv="Cache-Control" content="no-siteapp">
	<meta name="keywords" content="白色风车 {{ page.title }} 海源 个人博客 haiyuan">
	<meta name="description" content="白色风车 海源 haiyuan">
	<meta name="author" content="haiyuan,269699181@qq.com">
	<title>{{ page.title }} - 白色风车</title>
	<link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.010/css/hack.min.css">
	<style>
</head>
